h1{
    margin-top: 30px;
    font-size: 60px;
    color: #1c82d4;

    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

.banner{
    border-bottom: 4px solid #1c82d4;
    width: 100%;
    padding-bottom: 80px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 0 30px;
    padding: 10px 20px;
    border: 4px solid black;
    background-color: white;
    color: rgb(27, 118, 209);
    border-color: #1c82d4;
    font-size: 30px;
    cursor: pointer;
    border-radius: 16px;
    
}

.btn:hover {
    background-color: rgb(27, 118, 209);;
    color: white;
  }

  .sliders {
    color: black;
    display: grid;
    margin-right: 80px;
  }

  .slider-elem{
    margin: 4px
  }

  #container{
    /* width: 85%; */
    margin-top: 60px;
    height: 400px;
    display: flex;
    align-items: flex-end;
  }

  .bar{
    width: 20px;
    background-color: black;
    margin: 2px;
  }